body {
    background-color: rgb(70, 70, 70);
    color: rgb(158, 158, 158);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#myt {
    color: red;
}
button {
    transition: all .3s ease-out;
    background-color: rgb(132, 90, 247);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 4px;
    border-width: 0;
}
button:hover {
    transition: all .3s ease-out;
    background-color: rgb(146, 108, 250);
    padding: 5px 20px;
    cursor: pointer;
}
